workflow/Telegram Bot.json
{
  "name": "Telegram Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "7ab6b383-eb9e-4605-85a9-5e22ffaf7177",
      "name": "Telegram Trigger",
      "webhookId": "ae612ac1-3ff5-426f-a276-b70ec03c3202",
      "credentials": {
        "telegramApi": {
          "id": "44M9I32odWjvSnhG",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3053cfa7-fd88-4fa4-8593-829f684e01cc",
              "leftValue": "={{ $json.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "29050bf4-c6ed-4aaa-ae8e-89604ec21b24",
      "name": "If"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Write a high quality image prompt for an AI image generator to generate a super high-quality image, super realistic according to this description: {{ $json.text }}\nMake it super detailed, vibrant and beautiful.\n\nMake it suited for JSON string, so without any symbols or newlines. Just one plain text."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        656,
        32
      ],
      "id": "2b6a0e9a-714d-497a-a25c-4974097c8526",
      "name": "Image Prompt Generator",
      "credentials": {
        "googlePalmApi": {
          "id": "SKbD1G0ayWYmgNkV",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        96,
        320
      ],
      "id": "12eab65b-ca73-4d7f-8fba-de2819ccf0a4",
      "name": "Get a file",
      "webhookId": "37988d48-754f-4bed-b773-1c5cf24acea6",
      "credentials": {
        "telegramApi": {
          "id": "44M9I32odWjvSnhG",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        304,
        320
      ],
      "id": "74c76d8c-689b-4c02-b365-f7ecd3afec64",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "SKbD1G0ayWYmgNkV",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Summarize this in short as a google drive file name {{ $json.content.parts[0].text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        1008,
        32
      ],
      "id": "ca11cbc4-0b1a-4c59-ac56-9700f776503a",
      "name": "File Name for Drive",
      "credentials": {
        "googlePalmApi": {
          "id": "SKbD1G0ayWYmgNkV",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "file": "={{ $json.image_url }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1344,
        432
      ],
      "id": "3c64f639-b092-4423-8fff-18a68fa1c7fc",
      "name": "Send a photo message",
      "webhookId": "a2cd02b5-7494-45a6-9d6e-aab204571b9f",
      "credentials": {
        "telegramApi": {
          "id": "44M9I32odWjvSnhG",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "table",
        "workbook": {
          "__rl": true,
          "value": "01CTFWLWT6J23E2TVYGVFYNTBDBPMKH6VC",
          "mode": "list",
          "cachedResultName": "Image_log",
          "cachedResultUrl": "https://noidainstituteofengtech-my.sharepoint.com/personal/0211ite112_niet_co_in/_layouts/15/Doc.aspx?sourcedoc=%7B4DB64E7E-B84E-4B35-86CC-230BD8A3FAA2%7D&file=Image_log.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"
        },
        "worksheet": {
          "__rl": true,
          "value": "{00000000-0001-0000-0000-000000000000}",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://noidainstituteofengtech-my.sharepoint.com/personal/0211ite112_niet_co_in/_layouts/15/Doc.aspx?sourcedoc=%7B4DB64E7E-B84E-4B35-86CC-230BD8A3FAA2%7D&file=Image_log.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Sheet1!A1"
        },
        "table": {
          "__rl": true,
          "value": "{3B5C06A6-3EE0-45C8-80FC-6D7B4776F075}",
          "mode": "list",
          "cachedResultName": "Table3",
          "cachedResultUrl": "https://noidainstituteofengtech-my.sharepoint.com/personal/0211ite112_niet_co_in/_layouts/15/Doc.aspx?sourcedoc=%7B4DB64E7E-B84E-4B35-86CC-230BD8A3FAA2%7D&file=Image_log.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=Sheet1!B2:D11"
        },
        "fieldsUi": {
          "values": [
            {
              "column": "Prompt",
              "fieldValue": "={{ $('Image Prompt Generator').item.json.content.parts[0].text }}"
            },
            {
              "column": "Image URL",
              "fieldValue": "={{ $('Image Generation Model').item.json.data[0].url }}"
            },
            {
              "column": "Time Stamp",
              "fieldValue": "={{ $json.createdTime }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2.1,
      "position": [
        1328,
        640
      ],
      "id": "4443ba34-2fe1-4bb9-914b-0d8090fabe9f",
      "name": "Append rows to table",
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "mbKz8CO7Wo99HLgu",
          "name": "Microsoft Excel account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.euron.one/api/v1/euri/images/generations ",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $('Image Prompt Generator').item.json.content.parts[0].text }}\",\n  \"model\": \"black-forest-labs/FLUX.1-schnell\",\n  \"n\": 1,\n  \"size\": \"1024x1024\",\n  \"quality\": \"high\",\n  \"response_format\": \"url\",\n  \"style\": \"vivid\"\n}\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1328,
        144
      ],
      "id": "4a4de59e-71ec-4c4e-8f81-fd418d9b35a7",
      "name": "Image Generation Model",
      "credentials": {
        "httpBearerAuth": {
          "id": "lCCMHh1fJR6JiEA9",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0ed853b1-52be-4ab7-99f9-c3345fa858a9",
              "name": "image_url",
              "value": "={{ $json.data[0].url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        336
      ],
      "id": "cc25e029-79fb-4e3b-bc7a-07abac3b8f75",
      "name": "Filter"
    },
    {
      "parameters": {
        "url": "={{ $json.image_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        640
      ],
      "id": "e680dd41-54e1-428b-991a-ea7c901eb74e",
      "name": "Downloading Image"
    },
    {
      "parameters": {
        "name": "={{ $('File Name for Drive').item.json.content.parts[0].text }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1vLoXL1LgyL1MaAYWRNAiT2p9QvlI9MVR",
          "mode": "list",
          "cachedResultName": "Image Generated",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1vLoXL1LgyL1MaAYWRNAiT2p9QvlI9MVR"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1120,
        640
      ],
      "id": "0016c9e8-bb0f-4819-b427-954be63ecc95",
      "name": "Uploading to Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "K2eN1uPii4Lywy6z",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4dcc6802-41f7-41aa-ab2f-46cbc77e1919",
              "name": "text",
              "value": "={{ $json?.message?.text || \"\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "6dea5299-63b5-44ec-95a9-b0c27c00eefe",
      "name": "Voice or Text"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Voice or Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Image Prompt Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Image Prompt Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Prompt Generator": {
      "main": [
        [
          {
            "node": "File Name for Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Name for Drive": {
      "main": [
        [
          {
            "node": "Image Generation Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Generation Model": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Downloading Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Downloading Image": {
      "main": [
        [
          {
            "node": "Uploading to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Uploading to Drive": {
      "main": [
        [
          {
            "node": "Append rows to table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voice or Text": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "462effc8-679b-4796-aec8-ab14ab40c547",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f5eaed8a555982689cfe5d158f4c7415850055f678058617c4bd47872da5a6e6"
  },
  "id": "IKcbjOmrQDOvAREf",
  "tags": []
}